:root {
  --body-max-width: 800px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.noscript-banner {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: #f8d7da;
  text-align: center;
  color: #000000;
}

.component-description p {
  margin: 0 0 0.5rem 0;
}

.component-description p:last-child {
  margin-bottom: 0;
}

@media (prefers-color-scheme: light) {
  pre > code {
    border: 1px solid var(--border);
  }
}

/* Component custom styling */
scroll-top:not(:defined) {
  display: none;
}

scroll-top::part(button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--links);
  border: none;
  color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

scroll-top::part(button):focus-visible {
  outline: 2px solid var(--focus);
}

scroll-top::part(button button--hidden) {
  transform: translateY(calc(100% + 16px));
}
